{% extends 'base.html' %}
{% load static %}

{% block meta %}
<header>
    <link rel="stylesheet" href="{% static 'css/qna.css' %}"/>
    <div class="cover-qna" >
    </div>
</header>
{% endblock meta %}

{% block content %}

<script src="/static/qna-js.js"></script>

<div id="komen" style="display: none;">
    {{komenid}}
</div>

<br> <br>
    <h3>
      <center> <b> LETS DISCUSS ABOUT COVID </b></center>
    </h3>
<br/>

<div>
<div class="container">
    <div>
        <a href="{%url 'qna:forum'%}" class="btn btn-danger">Back</a>
    </div>
    <br>
                
                <div class="card card-qna">
                        <div class="border-bottom border-light"><b>{{pertanyaan.penanya}}</b> </div>
                        <div>{{pertanyaan.pertanyaan}}</div>
                        <div class="small">{{pertanyaan.location}} on {{pertanyaan.time}} | {{pertanyaan.email}}</div>
                      
                    <nav class="navbar navbar-inverse">
                        <div class="nav"></div>
                            <div class="nav">
                                {% if user.is_authenticated %}
                                <a class="btn btn-qna3" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                    Reply
                                </a>
                                {% else %}
                                <a class="btn btn-qna3" href="{% url 'main:login' %}" onClick="alert('Anda belum login, silakan login terlebih dahulu')">
                                    Reply
                                </a>
                                {%endif%}
                            </div>
                    </nav>  
                </div>     
</div>
<br>

<div class="collapse" id="collapseExample">
    <div class="container">
        <div class="card card-qna">
                <div class="container-sm ">
                    <div class="form-group">
                        <form method="POST">
                            {% csrf_token %}
                            {{form_balasan.as_p}}
                            <nav class="navbar navbar-inverse">
                                <div class="nav navbar">

                                </div>
                                <div class="nav navbar">
                                        <button class="btn btn-qna3" type="submit" >Post Now</button>
                                    </div>
                            </nav>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<br>

{% if count > 0 %}

<div class="container">
    <section>
    <table id ="ptables" class="table border-0" >
        <thead>
            <th class="table border-0">
                <p>
                View all {{count}} comments
                </p>
            </th>
        </thead>
        <tbody id="isikomen">
        </tbody>
    </table>
</section>
</div>
{% endif %}
    

{% endblock content %}

