{% extends 'base.html' %}
{% load static %}


{% block meta %}
<header>
    <link rel="stylesheet" href="{% static 'css/qna.css' %}"/>
    <div class="cover-qna" >
    </div>
</header>
{% endblock meta %}
{% block content %}

  <script src="/static/qna-js.js"></script>
  <script>
    function myFunction() {
    alert("Silahkan membaca pertanyaan- pertanyaan yang ada, untuk menambahkan pertanyaan dan komentar anda harus login dulu, terimakasih");
    }
    </script>
<body OnLoad="myFunction()">
    <br> <br>
    <center>
        <h3>
        <b> LETS DISCUSS ABOUT COVID</b>
        </h3>
    </center>
    <div class="container" >
        <nav class="navbar">
        <div></div>
        {%if user.is_authenticated == True %}
        <a class="accd btn btn-qna" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">Add Question</a>
        {%else %}
        <a href="{% url 'main:login' %}" class="btn btn-qna"  onClick="alert('Anda belum login, silakan login terlebih dahulu')">Add Question</a>
        
        {%endif %}
        </nav>
        <div class="collapse" id="collapseExample">
            <center>
                <table>
                <tr>
                    <td>
                        <div class="form-group container">
                            <div class="card qnabox" style="color: white;">
                            
                            <form method="POST" action="{%url 'qna:forum' %}">
                                {% csrf_token %}
                                Your Question :
                                {{pertanyaan_form.as_p}}
                        </div>
                        <nav class="navbar">
                        <div></div> 
                        <div class="nav navbar "> 
                        <table>
                            <tr>
                                <td>
                                    <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" class="accd nav navbar btn btn-danger">Back </a>
                                </td>
                                <td>
                                    <button class="nav navbar btn btn-qna" type="Submit"> Post </button>
                                </td>
                            </tr>
                    
                        </table>
                    </div> 
                        </nav>  
                    </form>
                        </div>
                    </td>
                </tr>
                </table>
        
            </center>
        </div>

    <div id="accord-hide" class="container">
        <section>
        <table id ="ptables" class="table border-0" >
            <thead>
                <th class="table border-0">
                </th>
            </thead>
            <tbody id="isiqna">
            </tbody>
        </table>
    </section>
    </div>
</body>
{% endblock content %}
