{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Covidify</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
  <link rel = "icon" type = "image/png" href = "{% static 'image/Group94.png' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
  
  <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
</head>

{% url 'health_protocol:healthProtocol' as healthProtocol_url %}
{% url 'list_rs:listRS' as listRS_url %}
{% url 'rapidTest:rapid' as rapidTest_url %}
{% url 'qna:lihatPertanyaan' as qna_url %}
{% url 'main:feedbacklist' as feedback_url %}
{% url 'main:login' as login_url %}
{% url 'main:signup' as signup_url %}

<nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: rgba(44, 23, 93); font-family: 'Poppins', sans-serif;">
  <a class="navbar-brand" href="{% url 'main:home' %}" style="color: #EC6542;">Covidify</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-between" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <!-- Health Protocol -->
      <li class="nav-item">
        <a class="nav-link {% if request.path == healthProtocol_url %} active {% endif %}" href="{% url 'health_protocol:healthProtocol' %}" style="color: white;">Health Protocol</a>
      </li>
      <!-- List RS -->
      <li class="nav-item">
        <a class="nav-link {% if request.path == listRS_url %} active {% endif %}" href="{% url 'list_rs:listRS' %}" style="color: white;">Hospital</a>
      </li>
      <!-- Rapid Test -->
      <li class="nav-item">
        <a class="nav-link {% if request.path == rapidTest_url %} active {% endif %}" href="{% url 'rapidTest:rapid' %}" style="color: white;">Rapid Test</a>
      </li>
      <!-- QNA -->
      <li class="nav-item">
        <a class="nav-link {% if request.path == qna_url %} active {% endif %}" href="{% url 'qna:forum' %}" style="color: white;">QnA</a>
      </li>
      <!-- Feedback -->
      <li class="nav-item">
        <a class="nav-link {% if request.path == feedback_url %} active {% endif %}" href="{% url 'main:feedbacklist' %}" style="color: white;">Feedback</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item" style="margin-top: 8px;">
          <input type="checkbox" hidden="hidden" id="theme">
          <label class="switch" for="theme"></label>
      </li>
      {% if user.is_authenticated %}
      <!-- Hello, {user} -->
      <li class="nav-item">
        <a style="color: white; font-weight: bold;" class="nav-link" href="/">Hello, {{ request.user }}</a></li>
      </li>
      <!-- Logout -->
      <li class="nav-item">
        <a style="color: white; font-weight: bold" class="nav-link" href="{% url 'main:logout' %}">Logout</a></li>
      </li>
      {% else %}
      <!-- Login -->
      <li class="nav-item">
        <a style="color: white" class="nav-link" href="{% url 'main:login' %}">Login</a></li>
      </li>
      <!-- Register -->
      <li class="nav-item">
        <a style="color: white;" class="nav-link" href="{% url 'main:signup' %}">Register</a></li>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>
{% block meta %}
{% endblock meta %}
<body >
  {% block content %}
  {% endblock content %}
</body>

</html>
