{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block meta %}
<header>
    <link rel="stylesheet" href="{% static 'css/homefeed.css' %}"/>
    <div class="cover2" >
    </div>
</header>
{% endblock meta %}

{% block content %}
<div class="container" style="margin-top: 50px; margin-bottom: 200px;">
    <div class="container-fluid">
            <h2 class="featurette-heading" style="color: #2C175D;"><b>Give Us Your Feedback</b></h2>
            <hr class="mt-0 mb-4">
            <form method='POST'>
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn" style="background-color: #2C175D; color: white;" ><b>Submit</b></button>
            <a type="button" class="btn btn-danger" href="{% url 'main:home' %}"><b>Back</b></a>
        </form>
    </div>
</div>

{% endblock content %}