{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block meta %}
<header>
    <link rel="stylesheet" href="{% static 'css/homefeed.css' %}"/>
    <div class="cover2" >
    </div>
</header>
{% endblock meta %}

{% block content %}
  <div class="container feedbackss" style="margin-top: 50px; margin-bottom: 200px;">
    <div class="container-fluid">
        <div class="d-flex bd-highlight mb-3">
          <div class="p-2 bd-highlight">
                <h2 class="featurette-heading" style="color: #2C175D;"><b>Give Us Your Feedback</b></h2>
              </div>
              {% if user.is_authenticated %}
              <div class= "container-fluid text-right" style="margin-bottom: 100px;">
                <a id = "but" class="btn btn-primary btn-lg" 
                style= "background-color: #232065"
                href="{% url 'main:feedbackform'  %}" 
                role="button">Add Feedback</a>
              </div>
              {% else %}
              <div class= "container-fluid text-right" style="margin-bottom: 100px;">
                <a id = "but" class="btn btn-primary btn-lg"
                onClick="alert('Anda belum login, silakan login terlebih dahulu')"
                style= "background-color: #232065"
                href="{% url 'main:login'  %}" 
                role="button">Add Feedback</a>
              </div>
              {% endif %}
            </div>
            
            <hr class="mt-0 mb-4">
            <section id="isi">
          
            </section>
          </div>
        </div>
        
      <script>
        $("#but").on("mouseenter", function(){
            $(this).css("background-color", "#DCCFEE");
            $(this).css("color","#262833");
        });

        $("#but").on("mouseleave", function(){
            $(this).css("background-color", "#232065");
            $(this).css("color","#FFFFFF");
        });

        
        
        $.ajax({
            url: "/dataFeedback",
            success: function(data) {
              console.log(data)
              for (var i = 0 ; i < data.length ; i++) {
                var obj = data[i]
                
                console.log("masuk")
                var result = '<div class="card text-white" id = "kartu" style="background-color: #2C175D; margin-top: 20px; border-radius: 10px;">' +
                  '<div class="card-header border-bottom border-light"><b>' + obj.fields.nama + '</b></div>' +
                  '<div class="card-body">' + '<p class="card-text">' + obj.fields.feedbackUser + '</p>' + '</div>' + '</div'
                  $('#isi').append(result);
                  
                }
              }
            });
      </script>
      <script>
        $("label.switch").click(function() {
          $("body").toggleClass("dark-bg")
          // $("p").slideToggle("light-text")
          $("h2").toggleClass("light-font")
      })
      </script>

{% endblock content %}