{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block meta %}
<header>
    <link rel="stylesheet" href="{% static 'css/homefeed.css' %}"/>
    <div class="cover2" >
    </div>
</header>
{% endblock meta %}

{% block content %}
<div class="container" style="margin-top: 50px; margin-bottom: 200px;">
    <div class="container-fluid">
        <div class="d-flex bd-highlight mb-3">
            <div class="p-2 bd-highlight">
                <h2 class="featurette-heading" style="color: #2C175D;"><b>Give Us Your Feedback</b></h2>
            </div>
            <div class="ml-auto p-2 bd-highlight">  
                <a type="button" class="btn" href="{% url 'main:feedbackform' %}" style="background-color: #2C175D; color: white;">Add Feedback</a>
            </div>
          </div>
        
        <hr class="mt-0 mb-4">
        {% for i in feedbacks %}
        <div class="card text-white" style="background-color: #2C175D; margin-top: 20px; border-radius: 10px;">
            <div class="card-header border-bottom border-light"><b>{{i.nama}}</b></div>
            <div class="card-body">
              <p class="card-text">{{i.feedbackUser}}</p>
            </div>
          </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}