{% extends 'base.html'%}
{% load static %}


{% block content %}
<header>
    <link rel="stylesheet" href="{% static 'css/listRs.css' %}"/>
</header>
<div class = "cover_list">
    <h1>Daftar Rumah Sakit</h1>
</div>
<br>
<br>

<script>
    $(document).ready( function () {
        $('#list_rs').DataTable({
            "aLengthMenu":[[3, 5, 10, 25], [3, 5, 10, 25]],
                "iDisplayLength":3,
                "ordering" : false

        });

        var table = $('#list_rs').DataTable();
        $('#list_rs tbody').on('click', 'tr', function () {
        var data = table.row( this ).data();
        alert( 'You clicked on '+data[0]+'\'s row' );
        } );

        $("#but").on("mouseenter", function(){
            $(this).css("background-color", "#DCCFEE");
        });

        $("#but").on("mouseleave", function(){
            $(this).css("background-color", "#232065");
        });

        $.ajax({
            url: "/data",
            success: function(data) {
                console.log("test")
                console.log(data)
                $('#isi').html('')
                var result = '<tr>';
                for(var i = 0; i < data.length; i++) {
                    var obj = data[i];
                    console.log("ini obj =" + obj)
                    result += "<tr>"+
                    "<td>" + obj.fields.provinsi + "</td>" +
                    "<td>" + obj.fields.nama_rs + "</td>" +
                    "<td>" + obj.fields.alamat+ "</td>" +
                    "<td>" + obj.fields.telepon + "</td>"+
                    "<td> <a id = 'web' class='btn btn-primary' style = 'background-color:#DCCFEE' href='" + 
                    obj.fields.website + "' target= '_blank' role='button'>Website</a> </td>"
                                
                }
                $('#isi').append(result);
            }
        })
        

    } );
</script>

<section> 
    <div class="container-fluid">
        <div class = "row">
            <div class="col-sm-12">
                <h2 class="text-center"> DAFTAR RUMAH SAKIT </h2>
                <br>
                <br>
                <div class="table-responsive-md">
                    <table id="list_rs" class="table table-striped">

                        <thead style="background-color:#222159;">
                        <tr style="color:#FFFFFF">
                        <th scope="col">Provinsi</th>
                        <th scope="col">Nama RS</th>
                        <th scope="col">Alamat</th>
                        <th scope="col">No. Telepon</th>
                        <th scope="col">Website</th>
                        </tr>
                        </thead>

                        <tbody id = "isi">
                        </tbody>
                    </table>
                </div>
                <br>
                {% if user.is_authenticated %}
                <div class= "container-fluid text-right" style="margin-bottom: 100px;">
                <a id = "but" class="btn btn-primary btn-lg" 
                    style= "background-color: #232065"
                    href="{% url 'list_rs:tambahRS'  %}" 
                    role="button">Add</a>
                </div>
                {% else %}
                <div class= "container-fluid text-right" style="margin-bottom: 100px;">
                <a id = "but" class="btn btn-primary btn-lg"
                    onClick="alert('Anda belum login, silakan login terlebih dahulu')"
                    style= "background-color: #232065"
                    href="{% url 'main:login'  %}" 
                    role="button">Add</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock content %}
