{% extends 'base.html' %}
{% load static %}
{% block meta %}
<header> 
    <header>
        <link rel="stylesheet" href="{% static 'css/health_protocol.css' %}"/>
    </header>
    <div class="cover_list">
        <h1>Protokol Kesehatan</h1>
    </div>
    <br>
    <br>
</header>

<script>
    $(document).ready(function() {
        let display = false
        $('.like-form').submit(function(e) {
            e.preventDefault()

            const alternative_id = $(this).attr('id')

            const likeText = $(`.like-btn${alternative_id}`).text()
            const trim = $.trim(likeText)

            const url = $(this).attr('action')

            let result;
            const upvotes = $(`.like-count${alternative_id}`).text()
            const trimCount = parseInt(upvotes)

            $.ajax({
                type: 'POST',
                url: url,
                data: {
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                    'alternative_id': alternative_id,
                },
                success: function(response) {
                    if (trim === 'Skip deh...') {
                        $(`.like-btn${alternative_id}`).text('Boleh tuh!')
                        result = trimCount - 1
                    } else {
                        $(`.like-btn${alternative_id}`).text('Skip deh...')
                        result = trimCount + 1
                    }

                    $(`.like-count${alternative_id}`).text(result)
                },
                error: function(response) {
                    console.log('error', response)
                }
            })
        })
    })
</script>
{% endblock meta %}

{% block content %}
<div class="container">
    <section>
        <a href="{% url 'health_protocol:healthProtocol' %}">
            <button class="nav navbar btn btn-danger" type="button">
                Back
            </button>
        </a>
        <table id="ptable" class="table border-0">
            <thead>
                <th class="table border-0">
                </th>
            </thead>
            <tbody>
                {% for alternative in alternatives %}
                <tr>
                    <td>
                        <div class="card card-alternative">
                            <h2 style="font-style:italic">"{{ alternative.text }}"</h2>
                            <p>oleh <span style="font-weight: bold">{{ alternative.author.namalengkap }}</span> | {{ alternative.created }} | &#128077;<span class="like-count{{ alternative.id }}">{{ alternative.num_upvotes }}</span></p>
                            <nav class="navbar">
                                <div class="nav">
                                    <form action="{% url 'health_protocol:upvote' %}" method="POST" class="like-form" id="{{ alternative.id }}">
                                        {% csrf_token %}
                                        <input type="hidden" name="alternative_id" value="{{ alternative.id }}">
                                        <button type="submit" class="btn btn-secondary like-btn{{ alternative.id }}">
                                            {% if pengguna not in alternative.liked.all %}
                                                Boleh tuh!
                                            {% else %}
                                                Skip deh...
                                            {% endif %}
                                        </button>
                                    </form>
                                </div>
                            </nav>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</div>
{% endblock content %}
